* {
    box-sizing: border-box;
}

$headerColor: rgba(85, 216, 244, .3);
$mainColor: #828282;
$serviceColor: #b5b5b5;

@import url(//db.onlinewebfonts.com/c/5371c56d4aa017498373c2add587fb87?family=Segoe+WP+N+Light);

@mixin flexMix($justify: 'center', $align: 'center') {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin generalWidth($width:1024px) {
    margin: 0 auto;
    width: $width;
    padding: 0 15px;
        a {
            text-decoration: none;
        }
}

@mixin button {
    width: 42px;
    height: 60px;
    border: none;
    cursor: pointer;
    padding: 0;
    background: none;
} 

@mixin arrowLine1 {
    width: 100%;
    height: 1px;
    position: relative;
    background: white;
    transform: rotate(135deg);
}

@mixin arrowLine2 {
    width: 100%;
    height: 1px;
    position: relative;
    background: white;
    transform: rotate(-135deg);
}

body {
    margin: 0;
    font-family: 'Segoe WP N Light', sans-serif;
}

header {
    @include flexMix(space-between, center);
    position: absolute;
    background: $headerColor;
    width: 100%;
    height: 57px;    
    z-index: 1;
}

.container {
    @include generalWidth;
    @include flexMix(space-between, center);
}

.burger {
    background: rgba(85, 216, 244, .4); 
    height: 57px;
    width: 57px;
    border: none;
    cursor: pointer;
    padding: 1px 10px;
    outline: none;
        .burger-line {
            height: 5px;
            position: relative;
            background-color: white;
        }
        .burger-line::before {
            content: '';
            width: 100%;
            height: 5px;
            left: 0;
            bottom: 10px;
            position: absolute;
            background-color: white;
        }
        .burger-line::after {
            content: '';
            width: 100%;
            height: 5px;
            left: 0;
            top: 10px;
            position: absolute;
            background-color: white;
        }
        &:hover .dropdown-content { /*отображаем дропдаун меню при наведении*/
            display: block;
        }
}

.dropdown-content {
    display: none;
    margin: 26px -132px;
    position: absolute;
    background: $headerColor;
    min-width: 130px;
    padding: 10px 40px;
    box-shadow: 0 3px 3px 4px rgba(0,0,0,0.3);
    border-radius: 5px;
            a {
            color: white;
            display: block;
            text-shadow: 0 1px 1px rgb(139, 132, 132);
            line-height: 1.5;
            font-size: 1.5em;
                &:hover {
                    color: rgb(207, 120, 120);
                }
        }
}

.hero {
    min-height: 482px;
    background-image: url(../img/banner.png);
    background-size: cover;
    padding-top: 246px;
        .container-2 {
            flex-direction: column;
            align-items: flex-start;
            color: white;
            margin-top: -65px;
                h1 {
                    text-align: center;
                    margin-left: 34px;
                    font-size: 28px;
                 }
                .search-line {
                    margin-top: -80px;
                    width: 390px;
                    height: 45px;
                    font-size: 16px;
                    padding-left: 10px;
                    outline: none;
                }  
                .glass {
                    width: 30px;
                    height: 30px;
                    margin: -10px -42px;
                    opacity: .5;/*прозрачность иконки лупы*/
                }
                @media screen and (max-width: 720px) { 
                    .search-line {width: 290px;}
                    h1 {
                        margin-left: 0px;
                        font-size: 25px;
                    }
                }
        }
        .arrows {
            margin-top: -60px;
            display: flex;
            justify-content: space-between;
            padding: 0px 30px; 
        }
            .arrow-L {
                @include button;
                outline: none;
                    .line-1 {
                        @include arrowLine1;
                    }
                    .line-2 {
                        @include arrowLine2;
                        margin: 29px 0px 0px 0px
                    }
            }
            .arrow-R {
                @include button;
                transform: rotate(180deg);
                outline: none;
                    .line-1 {
                        @include arrowLine1;
                    }
                    .line-2 {
                        @include arrowLine2;
                        margin: 29px 0px 0px 0px
                    }               
            }
            @media screen and (max-width: 1150px) { 
                .arrows {display: none;}
            }
}

.get-started {
    height: 113px;
    border-bottom: 1px solid $serviceColor;
    @include flexMix;
        .container-3 {
            @include flexMix (center, center);
                .account {
                    color: $mainColor;
                    font-size: 2.15em;
                    margin-right: 57px;
                    font-family: 'Segoe WP N Light', sans-serif;
                }
                .register {
                    height: 60px;
                    width: 255px;
                    background: #8fcddc; 
                    border: none;
                    cursor: pointer;
                    outline: none;
                        #reg {
                            color: white;
                            font-size: 2.5em;
                            font-family: 'Segoe WP N Light', sans-serif;
                        }
                        
                }
        }
}

.services {
    padding-top: 15px;
    flex-wrap: wrap;
    margin-bottom: 40px;
        .category {
            @include flexMix (center, center);
            color: $mainColor;
            font-size: 1.2em;
        }
        .container-4 {
            max-width: 100%;
            flex-wrap: wrap;
                .descr {
                    list-style-type: none; /*убираем точки в списках*/
                    color: $serviceColor;
                }
        }
}

.footer {
    height: 44px;
    background: #484242;
    @include flexMix (center, center);
        .copyright {
            color: $serviceColor;
            font-size: 1.2em;
        }
}

@media screen and (max-width: 720px) { 
        .container-3 {
            flex-direction: column;
            align-items: flex-start;
            margin: 0;
        }
        .get-started .container-3 .account {
           font-size: 1.5em;
           text-align: center;
           margin: 0;
        }
        .get-started .container-3 .register { 
            height: 40px;
            width: 170px;
            margin-top: 20px;
        }
        .get-started .container-3 .register #reg  {
            font-size: 2em;
        }
}